.searchbar{
    position: absolute;
    top: 255px;
    left: 480px;
}

.button_search{
    cursor: pointer;
    color: white;
    background-color: rgba(3, 3, 3, 0.76);
    width: 80px;
    font-family: 'Courier New', Courier, monospace;
}

.name_search{
    font-family: 'Courier New', Courier, monospace;
    width: 230px;
}